:root {
    --main-bg-color-header: rgb(204, 204, 204);
}

* {
    list-style: none;
}

body {
    padding: 0 40px 0 40px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
    background-color: var(--main-bg-color-header);
}

.logo {
    max-width: 10%;
}

.memu_area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav input {
    margin-left: 15px;
    width: 350px;
}

nav a {
    /* margin: 0 10px 0 10px; */
    padding: 0 10px 0 10px;
    border-right: 0.5px solid black;
}

.destaques--container {
    /* background-color: aquamarine; */
    width: 100%;
    display: block;
}

.title-destaques {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 30px;
}

.content {
    margin: 0 40px 0 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}

.game-detailes {
    max-width: 600px;
}

.on-line {
    display: grid;
    grid-template-columns: auto auto;
}

.avaliacao {
    color: red;
}

.selection-destaques {
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.selection-destaques input {
    cursor: pointer;
}
