* {
    list-style: none;
    text-decoration: none;
    color: black;
}

.links {
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    border-right: 0.5px solid black;
    padding: 0 10px;
}

.links a:nth-child(4) {
    border: none;
}

.input-search {
    margin-left: 20px;
}

.destaque-inline {
    display: flex;
}

.destaques {
    background-color: rgb(192, 192, 192);
}

main {
    width: 100%;
}

.image-carousel {
    padding: 15px 0 0 10px;
}

.atual {
    padding: 40px 10px;
}
