* {
  list-style: none;
  text-decoration: none;
  color: black;
}

main,
body {
  /* background-color: #333333 !important; */
  background-color: #1a1919 !important;
}

nav,
nav>div,
footer {
  /* background-color: #1a1919; */
  background-color: #333333;
}

footer {
  padding-top: 30px;
}

.nameweb {
  font-size: 20px;
  color: #f2f2f2;
}

.lancamentos-titulo {
  margin-bottom: 50px;
}

.links {
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: inherit;
  border-right: 0.5px solid black;
  padding: 0 10px;
}

.links a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.links a:nth-child(4) {
  border: none;
}

.input-search {
  /* margin-left: 20px; */
}

.destaque-inline {
  display: flex;
}

.destaques {
  margin-top: 50px;
  background-color: rgb(192, 192, 192);
  display: block;
  padding: 20px 5px;
}

.destaques h1 {
  display: flex;
  justify-content: center;
}

main {
  padding: 0 100px;
  /* background-color: aqua; */
}

.image-carousel {
  padding: 15px 0 0 10px;
}

.atual {
  /* padding: 40px 10px; */
}

.lancamentos {
  margin-top: 50px;
  display: block;
  padding: 15px 50px;
}

.lancamentos-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.line-lancamento {
  /* margin: 40px 0; */
}

.card {
  margin: 40px 0;
}

.plataformas {
  margin-top: 50px;
  padding: 15px 50px;
}

.inlinespans p {
  display: flex;
  align-items: center;
  gap: 10%;
}

.destaque-av strong:nth-child(2) {
  color: red;
}

.allplat {
  /* list-style: none; */
  text-decoration: none;
  color: black;
}

.links {
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a {
  border-right: 0.5px solid black;
  padding: 0 10px;
}

.links a:nth-child(4) {
  border: none;
}

.input-search {
  /* margin-left: 20px; */
}

.destaque-inline {
  display: flex;
}

.destaques {
  background-color: rgb(192, 192, 192);
  display: block;
  padding: 20px 5px;
}

.destaques h1 {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
}

.image-carousel {
  padding: 15px 0 0 10px;
}

.atual {
  /* padding: 40px 10px; */
}

.lancamentos {
  display: block;
  padding: 15px 50px;
}

.lancamentos-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.line-lancamento {
  /* margin: 40px 0; */
}

.card {
  margin: 40px 0;
}

.plataformas {
  margin-top: 30px;
  padding: 15px 50px;
}

.mais-plat {
  display: flex;
  justify-content: end;
}

.about {
  padding: 15px 50px;
}

.molde {
  display: flex;
  align-items: center;
}

.molde i {
  margin-right: 5px;
}

.molde strong:nth-child(2) {
  margin-right: 10px;
}

.foot {
  margin-top: 40px;
}

footer {
  margin-top: 30px;
}

.image-foot img {
  width: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  color: #333333;
}

.cardcontainer {
  cursor: pointer;
  /* width: 350px; */
  /* height: 500px; */
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
  margin-bottom: 50px;
}

.cardcontainer:hover {
  box-shadow: 0 0 45px gray;
}

.photo {
  height: 200px;
  width: 100%;
}

.photo img {
  height: 100%;
  width: 100%;
}

.txt1 {
  margin: auto;
  text-align: center;
  font-size: 17px;
}

.content {
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -33px;
}

.photos {
  /* width: 90px; */
  /* height: 30px; */
  background-color: #e74c3c;
  color: white;
  position: relative;
  top: -30px;
  padding-left: 10px;
  font-size: 20px;
}

.txt4 {
  font-size: 20px;
  position: relative;
  top: 33px;
}

.txt5 {
  position: relative;
  top: 18px;
  color: #e74c3c;
  font-size: 16px;
}

.txt2 {
  position: relative;
  top: 10px;
}

/* .cardcontainer:hover > .photo{
  height: 200px;
  animation: move1 0.5s ease both;
}
@keyframes move1{
  0%{height: 300px}
  100%{height: 200px}
}
.cardcontainer:hover > .content{
  height: 200px;
} */
.footer {
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  position: relative;
  top: -15px;
}

.btn {
  position: relative;
  top: 20px;
}

.allline {
  /* margin-bottom: 50px; */
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamearea h1,
.gamearea h2,
.gamearea h3,
.gamearea h4,
.gamearea h5,
.gamearea h6,
.lancamentos-titulo h1,
.titelss {
  color: #d38282 !important;
}

.gamearea {
  padding: 20px, 0;
  height: 100%;
}

.gamearea desc {
  margin-bottom: 20px;
}

.gamearea span,
.gamearea p,
footer p,
footer p strong {
  color: #dac8c8;
}

.formdiv {
  position: relative;
}

#result {
  z-index: 100;
  width: 88%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#result ul {
  background-color: #e9dfdf;
  list-style-type: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#result ul li {
  background-color: #e9dfdf;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  cursor: pointer;
  padding: 5px 0;
}

#result ul li:hover {
  background-color: #e2a1a1;
}

#result li a {
  color: black;
  text-decoration: none;
  /* no underline */
}

.about-img img{
  width: 100%;
  max-width: 400px;
}

.dark-color,
.about-text p{
  color: #d38282;
}

.about-text p span{
  color: white;
}